@import url(/css/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul,
li,
a {
	list-style: none;
	text-decoration: none;
}

/* ### Header ### */

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 5%;
}

.contactInfo {
	display: flex;
	flex-direction: column;
	line-height: 20px;
	font-size: 1.2rem;
}

.navbar {
	/* position: relative; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color: rgb(255, 255, 255);
	position: sticky;
	top: 0;
}

.navLinks ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navLinks li {
	list-style: none;
}

.navLinks li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.navLinks li:hover {
	background-color: #555;
}

/* ### Hamburger Menu ### */

.hamburger {
	/* position: absolute; */
	background-color: transparent;
	color: white;
	border: 0;
	font-size: 1rem;
	cursor: pointer;
	display: none;
	padding: 1rem;
	/* move hamburger to right */
	margin-left: auto;
}

.hamburger:focus {
	outline: none;
}

.banner {
    height: 70vh;
    width: 100%;
    background: url(/img/contactus.jpg);
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerText {
    color: white;
    position: absolute;
    top: 350px;
    left: 100px;
    font-size: 2.5rem;
}

.panel1 {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	padding: var(--spacing);
	margin: auto;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}


/* ### Footer ### */

footer {
	margin-top: 300px;
}

.footerContainer {
	display: flex;
	justify-content: space-around;
	text-transform: capitalize;
	background-color: rgb(223, 223, 223);
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.social ul {
	display: flex;
	font-size: 2rem;
}

.social ul li {
	padding: 10px;
}

.social a:hover {
	color: rgb(34, 34, 252);
}

.footerContainer h4 {
	font-size: 1.5rem;
}

.footerContainer a {
	color: rgb(51, 51, 51);
}

.footerLinks {
	display: flex;
	justify-content: space-around;
	column-gap: 30px;
}

.footerBottom {
	background-color: rgb(32, 32, 32);
	color: white;
	text-align: center;
	padding: 15px;
}

/* ### Media ### */


@media all and (max-width: 700px) {
	:root {
		--mediaFont: .8rem;
		--mediaTitle: 1.1rem;
	}
	h2 {
		font-size: var(--mediaTitle);
	}
	p {
		font-size: var(--mediaFont);
	}

	.heading {
		display: none;
	}

	.banner {
		height: 70vh;
		object-fit: cover;
		position: relative;
	}
	.bannerText {
		position: absolute;
		top: 50%;
		right: 50%;
    }
    .bannerText h1 {
        font-size: 2rem;
        text-align: center;
    }

	.navLinks {
		display: none;
		flex-direction: column;
		width: 100%;
	}
	.navLinks.show {
		display: flex;
	}
	.navLinks ul {
		flex-direction: column;
		text-align: center;
	}
	.hamburger {
		display: block;
	}




	footer {
		margin-top: 50px;
	}
	.footerContainer {
		flex-direction: column;
	}
	.social ul {
		justify-content: center;
	}
	.footerContact,
    .footerContact p {
		text-align: center;
	}
	.footerContainer img {
		max-width: 200px;
	}
}