@import url(/css/root.css);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul,
li,
a {
	list-style: none;
	text-decoration: none;
}

p {
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.title {
	font-size: var(--title);
	padding-top: var(--spacing);
	padding-bottom: 30px;
	text-align: center;
}

/* ### Header ### */

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 5%;
}

.contactInfo p {
	display: flex;
	flex-direction: column;
	line-height: 20px;
	font-size: 1.2rem;
}

.navbar {
	/* position: relative; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color: rgb(255, 255, 255);
	position: sticky;
	top: 0;
	z-index: 3;
}

.navLinks ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navLinks li {
	list-style: none;
}

.navLinks li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.navLinks li:hover {
	background-color: #555;
}

/* ### Hamburger Menu ### */

.hamburger {
	/* position: absolute; */
	background-color: transparent;
	color: white;
	border: 0;
	font-size: 1rem;
	cursor: pointer;
	display: none;
	padding: 1rem;
	/* move hamburger to right */
	margin-left: auto;
}

.hamburger:focus {
	outline: none;
}

/* ### Banner ### */
.banner {
    height: 70vh;
    width: 100%;
    background: url(/img/access2.jpg);
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerText {
    color: white;
    position: absolute;
    top: 70%;
    left: 100px;
}

.bannerText h1 {
    font-size: 4rem;
}

.bannerText p {
    font-size: 22px;
    line-height: 2rem;
    margin-top: 80px;
}

/* ### Main ### */

main {
    width: 100%;
}

.panel1 {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
	padding: var(--spacing);
	margin: auto;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	background: linear-gradient(rgb(0, 19, 192), white);
	overflow: hidden;
}

.panel1Text {
	width: var(--margin);
	margin: auto;
	padding-right: 40px;
	padding-top: 20px;
}

.panel1Text h2 {
	margin: auto;
	color: white;
}

.panel1Text p {
	text-align: justify;
	margin-top: 20px;
	color: black;
}

/* ### Form Container ### */

.panel1Form {
	width: var(--margin);
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	box-shadow: 10px 10px 50px;
}

.panel1Form h2 {
	padding-bottom: 15px;
}

.formContainer input {
	width: var(--margin);
	height: 25px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formContainer textarea {
	width: var(--margin);
	height: 60px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	resize: vertical;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formBtn {
	width: var(--margin);
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	background-color: rgb(107, 107, 243);
	color: white;
	border-radius: 10px;
}

.formBtn:hover {
	background-color: rgb(26, 26, 248);
}

#status {
	width: var(--margin);
	/* max-width: 500px; */
	text-align: center;
	padding: 10px;
	margin: auto;
	margin-top: 5px;
	border-radius: 10px;
}

.panel2 {
	width: var(--margin);
	margin: auto;
	text-align: justify;
}

.panel2 img {
	float: left;
	width: 400px;
	margin-right: 20px;
}

.panel2 p:last-child {
	padding-bottom: 50px;
}

.accessWeb {
	color: white;
	/* this is for parallax effect for background-attachment
    fixed = parallax 
    scroll = normal */
	background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.4)
    ),url(/img/accessweb.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.accessWeb p {
	width: var(--margin);
	margin: auto;
}

.panel3 {
	width: var(--margin);
	margin: auto;
}

.panel4 {
	width: var(--margin);
	margin: auto;
}

.accessUl li{
	line-height: var(--lineHeight);
	font-size: var(--fontSize);
	padding-top: 20px;
	margin-left: 30px;
}

.panel5 {
	width: var(--margin);
	margin: auto;
	text-align: justify;
}

.panel5 img {
	float: right;
	width: 500px;
	margin-left: 20px;
}

/* ### Footer ### */

footer {
	margin-top: 50px;
}

.footerContainer {
	display: flex;
	justify-content: space-around;
	text-transform: capitalize;
	background-color: rgb(223, 223, 223);
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.social ul {
	display: flex;
	font-size: 2rem;
}

.social ul li {
	padding: 10px;
}

.social a:hover {
	color: rgb(34, 34, 252);
}

.footerContainer h4 {
	font-size: 1.5rem;
}

.footerContainer a {
	color: rgb(51, 51, 51);
}

.footerLinks {
	display: flex;
	justify-content: space-around;
    column-gap: 30px;
}

.footerBottom {
	background-color: rgb(32, 32, 32);
	color: white;
	text-align: center;
	padding: 15px;
}

/* ### Media ### */

@media all and (max-width: 700px) {
	:root {
		--mediaFont: .8rem;
		--mediaTitle: 1.1rem;
	}
	h2 {
		font-size: var(--mediaTitle);
	}
	p {
		font-size: var(--mediaFont);
	}

	.heading {
		display: none;
	}

	.banner {
		height: 70vh;
		object-fit: cover;
		position: relative;
	}
	.bannerText {
		position: absolute;
		top: 50%;
		right: 50%;
    }
    .bannerText h1 {
        font-size: 2rem;
        text-align: center;
    }

	.navLinks {
		display: none;
		flex-direction: column;
		width: 100%;
	}
	.navLinks.show {
		display: flex;
	}
	.navLinks ul {
		flex-direction: column;
		text-align: center;
	}
	.hamburger {
		display: block;
	}

	.panel1 {
		flex-direction: column;
		align-items: center;
	}
	.panel1Text {
		padding-right: 0;
		width: 100%;
	}
	.panel1Text p {
		text-align: left;
	}

	.panel1Form {
		margin-top: 20px;
		width: 100%;
	}

	.panel2 {
		justify-content: center;
	}

	.panel2 img {
		max-width: 280px;
		margin-right: auto;
		float: none;
	}

	.panel5 img {
		max-width: 280px;
		float: none;
		margin-left: 0;
	}

	footer {
		margin-top: 50px;
	}
	.footerContainer {
		flex-direction: column;
	}
	.social ul {
		justify-content: center;
	}
	.footerContact,
    .footerContact p {
		text-align: center;
	}
	.footerContainer img {
		max-width: 200px;
	}
}