@import url(defaultSetting.css);


/* ### Banner ### */
.banner {
    height: 70vh;
    width: 100%;
    background: url(../img/access2.jpg);
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerText {
    position: absolute;
    color: white;
    top: 40%;
    left: 100px;
}

.bannerText h1 {
    font-size: 4rem;
}

.bannerText p {
    font-size: 22px;
    line-height: 2rem;
    margin-top: 80px;
}

/* ### Main ### */

main {
    width: 100%;
}

.title {
	font-size: var(--title);
	padding-top: var(--spacing);
	padding-bottom: 30px;
	text-align: center;
}

.panel1 {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
	padding: var(--spacing);
	margin: auto;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	background: linear-gradient(var(--black), white);
	overflow: hidden;
}

.panel1Text {
	width: var(--margin);
	margin: auto;
	padding-right: 40px;
	padding-top: 20px;
}

.panel1Text h2 {
	margin: auto;
	color: white;
}

.panel1Text p {
	text-align: justify;
	margin-top: 20px;
	color: black;
}

/* ### Form Container ### */

.panel1Form {
	flex: 2;
	width: var(--margin);
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	box-shadow: 10px 10px 50px;
}

.panel1Form h2 {
	padding-bottom: 15px;
}

.formContainer input {
	width: var(--margin);
	height: 25px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formContainer textarea {
	width: var(--margin);
	height: 60px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	resize: vertical;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formBtn {
	width: var(--margin);
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	background-color: rgb(107, 107, 243);
	color: white;
	border-radius: 10px;
}

.formBtn:hover {
	background-color: rgb(26, 26, 248);
}

#status {
	width: var(--margin);
	/* max-width: 500px; */
	text-align: center;
	padding: 10px;
	margin: auto;
	margin-top: 5px;
	border-radius: 10px;
}

.panel2 {
	width: var(--margin);
	margin: auto;
	text-align: justify;
}

.panel2 img {
	float: left;
	width: 400px;
	margin-right: 20px;
}

.panel2 p:last-child {
	padding-bottom: 50px;
}

.accessWeb {
	color: white;
	/* this is for parallax effect for background-attachment
    fixed = parallax 
    scroll = normal */
	background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.4)
    ),url(/img/accessweb.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.accessWeb p {
	width: var(--margin);
	margin: auto;
}

.panel3 {
	width: var(--margin);
	margin: auto;
}

.panel4 {
	width: var(--margin);
	margin: auto;
}

.accessUl li{
	line-height: var(--lineHeight);
	font-size: var(--fontSize);
	padding-top: 20px;
	margin-left: 30px;
}

.panel5 {
	width: var(--margin);
	margin: auto;
	text-align: justify;
	padding-bottom: 100px;
}

.panel5 img {
	float: right;
	width: 500px;
	margin-left: 20px;
}


/* ### Media ### */

@media all and (max-width: 700px) {
	.panel1 {
		flex-direction: column;
		align-items: center;
	}
	.panel1Text {
		padding-right: 0;
		width: 100%;
	}
	.panel1Text p {
		text-align: left;
	}

	.panel1Form {
		margin-top: 20px;
		width: 100%;
	}

	.panel2 {
		justify-content: center;
	}

	.panel2 img {
		max-width: 280px;
		margin-right: auto;
		float: none;
	}

	.panel5 img {
		max-width: 280px;
		float: none;
		margin-left: 0;
	}
}