@import url(defaultSetting.css);

.banner {
    background: url(/img/fiberoptic.jpg);
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.bannerText {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 50%;
    left: 10%;
}

/* ### Main ### */
main {
    width: 100%;
}

.panel1 {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
	padding: var(--spacing);
	margin: auto;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	background: linear-gradient(var(--black), white);
	overflow: hidden;
}

.panel1Text {
	width: var(--margin);
	margin: auto;
	padding-right: 40px;
	padding-top: 20px;
}

.panel1Text h2 {
	margin: auto;
	color: white;
}

.panel1Text p {
	text-align: justify;
	margin-top: 20px;
	color: black;
}

/* ### Form Container ### */

.panel1Form {
	flex: 2;
	width: var(--margin);
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	box-shadow: 10px 10px 50px;
}

.panel1Form h2 {
	padding-bottom: 15px;
}

.formContainer input {
	width: var(--margin);
	height: 25px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formContainer textarea {
	width: var(--margin);
	height: 60px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	resize: vertical;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formBtn {
	width: var(--margin);
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	background-color: rgb(107, 107, 243);
	color: white;
	border-radius: 10px;
}

.formBtn:hover {
	background-color: rgb(26, 26, 248);
}

#status {
	width: var(--margin);
	/* max-width: 500px; */
	text-align: center;
	padding: 10px;
	margin: auto;
	margin-top: 5px;
	border-radius: 10px;
}

.panel2 {
	width: 80%;
	margin: auto;
}

.panel2 p {
	text-align: center;
	font-size: 1.5rem;
	padding-top: 50px;
}

.panel2 h2 {
	text-align: center;
	padding-bottom: 30px;
}

.cableContent {
	display: flex;
	width: 80%;
	margin: auto;
	align-items: center;
}

.cableContent img {
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
}

.title {
    font-size: var(--title);
    padding-top: var(--spacing);
}

.cableUl {
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    padding-top: 20px;
    margin-left: 30px;
}

/* ### Media ### */

@media all and (max-width: 700px) {
	.panel1 {
		flex-direction: column;
		align-items: center;
	}
	.panel1Text {
		padding-right: 0;
		width: 100%;
	}
	.panel1Text p {
		text-align: left;
	}

	.panel1Form {
		margin-top: 20px;
		width: 100%;
	}

	.cableContent {
		flex-direction: column;
	}
	.cableContent h2 {
		margin: 0;
	}
}