@import url(css/defaultSetting.css);

.banner {
    height: 80vh;
    width: 100%;
    background: url(/img/contactus.jpg);
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerText {
    color: white;
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 2.5rem;
}

.panel1 {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	padding: var(--spacing);
	margin: auto;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.panel1Ul {
    color: rgb(0, 0, 0);
}

.panel1Ul li {
    padding: 20px;
}

/* ### Form Container ### */

.panel1Form {
    width: 50%;
    text-align: center;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	box-shadow: 10px 10px 50px;
}

.panel1Form h2 {
	padding-bottom: 15px;
}

.formContainer input {
	width: var(--margin);
	height: 25px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formContainer textarea {
	width: var(--margin);
	height: 60px;
	margin-top: 5px;
	padding-left: 5px;
	font-size: 1rem;
	resize: vertical;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.formBtn {
	width: var(--margin);
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	background-color: rgb(107, 107, 243);
	color: white;
	border-radius: 10px;
}

.formBtn:hover {
	background-color: rgb(26, 26, 248);
}

#status {
	width: var(--margin);
	/* max-width: 500px; */
	text-align: center;
	padding: 10px;
	margin: auto;
	margin-top: 5px;
	border-radius: 10px;
}


/* ### Footer ### */

footer {
	margin-top: 50px;
}

.footerContainer {
	display: flex;
	justify-content: space-around;
	text-transform: capitalize;
	background-color: rgb(223, 223, 223);
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

.social ul {
	display: flex;
	font-size: 2rem;
}

.social ul li {
	padding: 10px;
}

.social a:hover {
	color: rgb(34, 34, 252);
}

.footerContainer h4 {
	font-size: 1.5rem;
}

.footerContainer a {
	color: rgb(51, 51, 51);
}

.footerLinks {
	display: flex;
	justify-content: space-around;
	column-gap: 30px;
}

.footerBottom {
	background-color: rgb(32, 32, 32);
	color: white;
	text-align: center;
	padding: 15px;
}

/* ### Media ### */

@media all and (max-width: 700px) {
	:root {
		--mediaFont: .8rem;
		--mediaTitle: 1.1rem;
	}
	h2 {
		font-size: var(--mediaTitle);
	}
	p {
		font-size: var(--mediaFont);
	}

	.heading {
		display: none;
	}

	.banner {
		height: 70vh;
		object-fit: cover;
		position: relative;
	}
	.bannerText {
		position: absolute;
		top: 50%;
		right: 50%;
    }
    .bannerText h1 {
        font-size: 2rem;
        text-align: center;
    }

	.navLinks {
		display: none;
		flex-direction: column;
		width: 100%;
	}
	.navLinks.show {
		display: flex;
	}
	.navLinks ul {
		flex-direction: column;
		text-align: center;
	}
	.hamburger {
		display: block;
	}

	.panel1 {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.panel1Text {
		padding-right: 0;
		width: 100%;
	}
	.panel1Text p {
		text-align: left;
	}

	.panel1Form {
		margin-top: 20px;
		width: 100%;
	}


	footer {
		margin-top: 50px;
	}
	.footerContainer {
		flex-direction: column;
	}
	.social ul {
		justify-content: center;
	}
	.footerContact,
    .footerContact p {
		text-align: center;
	}
	.footerContainer img {
		max-width: 200px;
	}
}
