:root {
	--title: 1.5rem;
	--fontSize: 1rem;
	--margin: 80%;
	--spacing: 50px;
	--lineHeight: 1.5rem;
	--testing: 200px;
	--black: rgba(32,32,32,32);
	--white: white;
	--color1: rgb(66, 66, 141);
	--color2: rgb(34, 34, 82);
}
